# Python cache / build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Virtual environment
venv/
.env/
.env

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter / Colab
.ipynb_checkpoints/

# Dependencies
*.egg-info/
dist/
build/

# Ngrok auth or config (if used)
.ngrok2/
